@@include('./partials/head.tpl', { "title": "Category overview" })
@@include('./partials/header.tpl')
<div class="main">
    <div class="container">
        <h1>Categories</h1>
        <div class="dataList dataList--grid" id="view-switcher">
            <div class="list">
                <ul class="overview">
                    <li>
                        <a href="" class="item-img">
                            <img class="full" src="http://via.placeholder.com/154x230" alt="">
                        </a>
                        <h3 class="item-title">Pumps</h3>
                        <div class="subtitle item-number">12 Products</div>
                    </li>
                    <li>
                        <a href="" class="item-img">
                            <img class="full" src="http://via.placeholder.com/154x230" alt="">
                        </a>
                        <h3 class="item-title">Marine Chemicals</h3>
                        <div class="subtitle item-number">12 Products</div>
                    </li>
                    <li>
                        <a href="" class="item-img">
                            <img class="full" src="http://via.placeholder.com/154x230" alt="">
                        </a>
                        <h3 class="item-title">Air tools</h3>
                        <div class="subtitle item-number">4 Products</div>
                    </li>
                    <li>
                        <a href="" class="item-img">
                            <img class="full" src="http://via.placeholder.com/154x230" alt="">
                        </a>
                        <h3 class="item-title">Workshop Equipment</h3>
                        <div class="subtitle item-number">#123456</div>
                    </li>
                    <li>
                        <a href="" class="item-img">
                            <img class="full" src="http://via.placeholder.com/154x230" alt="">
                        </a>
                        <h3 class="item-title">Cleaning & Dosing Equipment</h3>
                        <div class="subtitle item-number">21 products</div>
                    </li>
                    <li>
                        <a href="" class="item-img">
                            <img class="full" src="http://via.placeholder.com/154x230" alt="">
                        </a>
                        <h3 class="item-title">Gases, Refigerants and Cylinders</h3>
                        <div class="subtitle item-number">24 Products</div>
                    </li>
                    <li>
                        <a href="" class="item-img">
                            <img class="full" src="http://via.placeholder.com/154x230" alt="">
                        </a>
                        <h3 class="item-title">Welding</h3>
                        <div class="subtitle item-number">2 Products</div>
                    </li>
                    <li>
                        <a href="" class="item-img">
                            <img class="full" src="http://via.placeholder.com/154x230" alt="">
                        </a>
                        <h3 class="item-title">Fire Protection</h3>
                        <div class="subtitle item-number">8 Products</div>
                    </li>
                    <li>
                        <a href="" class="item-img">
                            <img class="full" src="http://via.placeholder.com/154x230" alt="">
                        </a>
                        <h3 class="item-title">Personal Safety</h3>
                        <div class="subtitle item-number">4 Products</div>
                    </li>
                    <li>
                        <a href="" class="item-img">
                            <img class="full" src="http://via.placeholder.com/154x230" alt="">
                        </a>
                        <h3 class="item-title">Environmental</h3>
                        <div class="subtitle item-number">16 Products</div>
                    </li>
                    <li>
                        <a href="" class="item-img">
                            <img class="full" src="http://via.placeholder.com/154x230" alt="">
                        </a>
                        <h3 class="item-title">Life Saving</h3>
                        <div class="subtitle item-number">16 Products</div>
                    </li>
                    <li>
                        <a href="" class="item-img">
                            <img class="full" src="http://via.placeholder.com/154x230" alt="">
                        </a>
                        <h3 class="item-title">Ropes</h3>
                        <div class="subtitle item-number">16 Products</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
@@include('./partials/footer.tpl')