@@include('./partials/head.tpl', { "title": "Category" })
@@include('./partials/header.tpl')

<div class="main category">
    <div class="container">
        @@include('./partials/path.tpl')
        <div class="row justify-content-between">
            <div class="col">
                <h1>Barrel Pumps</h1>
            </div>
            <div class="col">
                <div class="buttons-container switcher" id="switcher">
                    <button id="grid"><i class="fa fa-th-large" aria-hidden="true"></i></button>
                    <button class="active" id="list"><i class="fa fa-list-ul" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
        <div class="dataList dataList--grid category-switcher category-list" id="view-switcher">
            <div class="dataList__headings">
                <div class="subtitle">Name</div>
                <div class="subtitle">Product number</div>
            </div>
            <div>
                <ul>
                    <li>
                        <a href="" class="item-img">
                            <img class="thumbnail" src="http://via.placeholder.com/62x62" alt="">
                            <img class="full" src="http://via.placeholder.com/154x230" alt="">
                        </a>
                        <h3 class="item-title">Chemical Pump Lever Type</h3>
                        <div class="subtitle item-number">#123456</div>
                    </li>
                    <li>
                        <a href="" class="item-img">
                            <img class="thumbnail" src="http://via.placeholder.com/62x62" alt="">
                            <img class="full" src="http://via.placeholder.com/154x230" alt="">
                        </a>
                        <h3 class="item-title">Chemical Pump Lever Type</h3>
                        <div class="subtitle item-number">#123456</div>
                    </li>
                    <li>
                        <a href="" class="item-img">
                            <img class="thumbnail" src="http://via.placeholder.com/62x62" alt="">
                            <img class="full" src="http://via.placeholder.com/154x230" alt="">
                        </a>
                        <h3 class="item-title">Chemical Pump Lever Type</h3>
                        <div class="subtitle item-number">#123456</div>
                    </li>
                    <li>
                        <a href="" class="item-img">
                            <img class="thumbnail" src="http://via.placeholder.com/62x62" alt="">
                            <img class="full" src="http://via.placeholder.com/154x230" alt="">
                        </a>
                        <h3 class="item-title">Chemical Pump Lever Type</h3>
                        <div class="subtitle item-number">#123456</div>
                    </li>
                    <li>
                        <a href="" class="item-img">
                            <img class="thumbnail" src="http://via.placeholder.com/62x62" alt="">
                            <img class="full" src="http://via.placeholder.com/154x230" alt="">
                        </a>
                        <h3 class="item-title">Chemical Pump Lever Type</h3>
                        <div class="subtitle item-number">#123456</div>
                    </li>
                    <li>
                        <a href="" class="item-img">
                            <img class="thumbnail" src="http://via.placeholder.com/62x62" alt="">
                            <img class="full" src="http://via.placeholder.com/154x230" alt="">
                        </a>
                        <h3 class="item-title">Chemical Pump Lever Type</h3>
                        <div class="subtitle item-number">#123456</div>
                    </li>
                    <li>
                        <a href="" class="item-img">
                            <img class="thumbnail" src="http://via.placeholder.com/62x62" alt="">
                            <img class="full" src="http://via.placeholder.com/154x230" alt="">
                        </a>
                        <h3 class="item-title">Chemical Pump Lever Type</h3>
                        <div class="subtitle item-number">#123456</div>
                    </li>
                    <li>
                        <a href="" class="item-img">
                            <img class="thumbnail" src="http://via.placeholder.com/62x62" alt="">
                            <img class="full" src="http://via.placeholder.com/154x230" alt="">
                        </a>
                        <h3 class="item-title">Chemical Pump Lever Type</h3>
                        <div class="subtitle item-number">#123456</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
@@include('./partials/footer.tpl')