@@include('./partials/head.tpl', { "title": "Forgot Password" })
    @@include('./partials/free-header.tpl')
<div class="forgot-password">
    <div class="title-container">
        <h2>Forgot password</h2>
    </div>
            <p>
                We focus on bitters cornhole blue bottle, lyft DIY hot chicken woke forage irony dreamcatcher af actually.
                Bicycle rights direct trade venmo locavore, sustainable la croix kitsch poke.
            </p>

            <form class="custom-form" action="">
                <div class="custom-form__row">
                    <div class="input-container">
                        <i class="fa fa-envelope label"></i>
                        <input type="email" placeholder="Email address" name="email" id="email">
                    </div>
                </div>
                <div class="custom-form__control">
                    <div class="btn-container">
                    <button class="btn-text" type='submit'>Reset password</button>
                    </div>
                </div>
            </form>
        </div>
@@include('./partials/footer.tpl')