@@include('./partials/head.tpl', { "title": "Login Page" })
    @@include('./partials/free-header.tpl')

<div class="login">
    <div class="title-container">
        <h2>Login</h2>
    </div>
    <form action="">
        <div class="custom-form__row">
            <div class="input-container">
                <i class="fa fa-envelope label"></i>
                <input type="text" placeholder="Email address" name="email" id="email">
            </div>
            <div class="input-container">
                <i class="fa fa-lock label"></i>
                <input type="password" placeholder="Password" name="password" id="password">
            </div>
        </div>
        <div class="custom-form__control">
                    <div class="btn-container">
                        <button class="btn-text" type='submit'>Login</button>
                    </div>
                </div>
                <div class="custom-form__hint">
                    <a href="forgot-password.html">Forgot password?</a>
                </div>
            </form>
        </div>
@@include('./partials/footer.tpl')