@@include('./partials/head.tpl', { "title": "Product page" })
@@include('./partials/header.tpl')

<div class="main product">
    <div class="container">
        @@include('./partials/path.tpl')
        <div class="row justify-content-lg-between">
            <div class="col-md-8 col-sm-12 col-xs-12 col-lg-6">
                <div class="text-container">
                    <h1>
                        Eccentric Spacer Two Line Product
                    </h1>
                </div>

                <div class="img-container">
                    <div class="preview">
                            <img src="http://via.placeholder.com/429x300" alt="" >
                    </div>
                        <div class="previews-small">
                            <img src="http://via.placeholder.com/94x71" alt="">
                            <img src="http://via.placeholder.com/94x71" alt="">
                            <img src="http://via.placeholder.com/94x71" alt="">
                        </div>


                </div>
                <div class="text-container">
                    <div class="subtitle">
                       Description
                    </div>
                    <p>
                        The hand pump is a simple and cost effective method of moving small and medium quantities of liquid from a 200 L barrel, 60 L drum or a 25 L pail (requires an adaptor). The pump is easy to mount and use and capable of pumping solvents and chemicals compatible with Viton and PTFE seals. The pumps moves 0,33 L per stroke.
                        <br>
                        Chemical pump lever type (set of 2 pumps).
                    </p>
                </div>
                <div class="text-container">
                    <div class="subtitle">
                        Materials
                    </div>
                    <h3>Metal, Plastic</h3>
                </div>
                <div class="marking">
                    <div class="row justify-content-between">
                        <div class="marking__item col" >
                            <div class="text-container">
                                <div class="subtitle">
                                    IMPA Code
                                </div>
                                <h3>12764644A</h3>
                            </div>
                        </div>
                        <div class="marking__item col">
                            <div class="text-container">
                                <div class="subtitle">Product Group</div>
                                <h3>422</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  col-sm-12 col-xs-12 ">
                <div class="addition">
                    <div class="subtitle">Amount</div>
                    <input type="number" value="3">
                    <div class="text-container price">
                        <h1>1499,-</h1>
                        <div class="subtitle">NOK</div>
                    </div>
                    <div class="btn-container inverse">
                        <button class="btn-text"><span></span> ADD TO CART</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@@include('./partials/footer.tpl')