body {
    font-family: Muli, sans-serif;
}
p{
    font-size: 20px;
    font-weight: 300;
    line-height: 1.7;
    color: #000;
}
h1{
    font-size: 50px;
    line-height: 1.28;
    color: #40464f;

}
h2{
    width: 100%;
    font-size: 35px;
    color: #40464f;
    white-space: normal;
}
h3{
    font-size: 26px;
    color: #40464f;
}
.title {
    font-size: 35px;
    color: #40464f;
}
.subtitle{
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    color: #9fa8b6;
}
input[type=number]{
    width: 56px;
    height: 38px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0);
    border: solid 1px #e3e7ee;
    font-size: 16px;
    color: #40464f;
    text-align: center;

    &[type=number]::-webkit-inner-spin-button,
    &[type=number]::-webkit-outer-spin-button {
        opacity: 1;
    }
}

.login{
    margin-top: 100px;
    width:520px;
    margin-left:auto;
    margin-right: auto;
    .title-container{
        margin-bottom: 44px;
    }
    p{
        color: #40464f;
    }
}
.forgot-password{
    width: 720px;
    margin-top: 100px;
    margin-left:auto;
    margin-right: auto;
    .title-container{
        margin-bottom: 16px;
    }
    p{
        color: #40464f;
    }
    .input-container{
        width: 532px;
    }
}

.addition{
    input[type=number]{
        margin-top: 16px;
    }
}
a{
    color: #40464f;
    &:hover{
        text-decoration: none;
        color: #40464f;
    }
}
