header{
  height: 221px;

  a{
    padding-left: 10px;
  }
  .header__height{
    min-height: 221px;
  }

}

.logo{
  position: absolute;
  top: 10%;
  left: 10%;
}

.account{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
}

.basket{
  padding-left: 35px;
  position: relative;
  font-size: 20px;
  width: 70px;
  cursor: pointer;
    &::after{
      content: '3';
      text-align: center;
      font-size: 13px;
      color: #fff;
      position: absolute;
      width: 21px;
      height: 21px;
      background-color: #f8a639;
      border: solid 2px #ffffff;
      border-radius: 50%;
      top: -10px;
      left: 45px;
    }
}

