<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@@title</title>

    <link href="https://fonts.googleapis.com/css?family=Muli:300,400" rel="stylesheet">
    
    <link rel="stylesheet" href="vendor/vendor.css">
    <link type="text/css" rel="stylesheet" href="styles/style.css">
    <script src="https://use.fontawesome.com/7e482bf584.js"></script>
    <script src="vendor/vendor.js"></script>
</head>
<body>