.dropdown {
  cursor: pointer;
  padding: 12px 35px 12px 0;
  border-right: 1px solid #e5e5e5;
  &__header {
    font-size: 16px;
    color: #40464f;
    &::before{
      content: '';
      border: 5px solid transparent;
      border-top: 5px solid #9fa8b6;
      position: absolute;
      right: 20px;
      top: 50%;
      transform: rotate(0deg);
      transition: transform .3s linear;
      // Modification
      .dropdown--visible > &{
        border-top: 5px solid #000;
      }
    }
  }

  &__body {
    display: none;
    list-style: none;
    position: absolute;
    top: 100%;
    left:0;
    width: 100%;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
    z-index: 1;
    // Modification
    .dropdown--visible &{
      display: block !important;
    }
    li{
      padding: 5px 32px;
      &:hover{
        background-color: rgba(114, 108, 117, .1);
      }

    }
  }
}