.path {
  margin: 10px 0;
  font-size: 16px;
  font-weight: 300;
  color: #9fa8b6;

  .fa {
    margin: 0 6px;
    opacity: 0.6;
    font-size: 12px;
  }

  a {
    color: #9fa8b6;

    &:hover {
      text-decoration: underline;
    }
  }
}