.cart{
  height: 100%;
  width: 385px;
  position: fixed;
  right: 0;
  bottom: 0;
  border: 1px solid #ddd;
  overflow: auto;
  transform: translateX(100%);
  transition: transform .3s ease;
  background-color: #fff;
  z-index: 2;
 .cart__container{
    margin: 50px 30px;
  }
  .text-container{
    margin-top: 75px;
    margin-bottom: 54px;
  }
  table{
    font-size: 16px;
    color: #40464f;
  }
  tr{
    border-bottom: 1px solid rgba(198, 198, 198, 0.2);
     td{
       height:83px;
        border: none;
       &:first-child{
         padding-left: 30px;
       }
       &:last-child{
         padding-right: 30px;
       }
     }
    .name__container, .amount, .nok{
      display: table-cell;
      vertical-align: middle;
      text-align: left;
    }
    .name__container{
      width: 45%;
    }
    .amount{
      font-weight: 300;
    }
    .nok{
      font-weight: 300;
    }
    .model{
      line-height: 1;
    }
  }
}
.transformed{
  transform: translateX(0);
}
.header-cart-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.summary{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .sum{
    font-size: 20px;
    font-weight: bold;
    color: #40464f;
  }
}
.remove{
  background-color: transparent;
  border: 1px solid transparent;
  position: relative;
  cursor: pointer;
  padding: 10px;
  pointer-events: auto;
  .first-line{
    pointer-events: none;
    display: block;
    border-bottom: 1px solid  #9fa8b6;
    position: absolute;
    top:10px;
    left: 0;
    width: 100%;
    transform: rotate(45deg);
  }
  .second-line{
    pointer-events: none;
    display: block;
    border-bottom: 1px solid  #9fa8b6;
    position: absolute;
    top:10px;
    left: 0;
    width: 100%;
    transform: rotate(-49deg);
  }
}


