.dataList{
  &__headings{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 65px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    .subtitle{
      height: 65px;
      line-height: 65px;
    }
  }
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: Muli;
    .item-title{
      font-weight:300;
    }
  }
}

.dataList--list{
  ul{
      display: flex;
      flex-direction: column;
  }
  li{
    padding: 36px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h3{
      color: #40464f;
    }
  }
  .item-img{
    margin-right: 20px;
  }
  .item-title{
    flex-grow: 1;
  }
  .full {
    display: none;
  }
}
.dataList--grid{
  .dataList__headings{
    display: none;
  }
  ul{
    margin-top: 65px;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    margin-right: -30px;
    li{
      width: 250px;
      margin-bottom: 60px;
      margin-right: 30px;
    }
    .item-img{
      display: block;
      text-align: center;
      margin-bottom:20px;
    }

    .item-title {
      font-size: 20px;
      color: #000;
    }

    .thumbnail {
      display: none;
    }
  }
}

.overview{
  justify-content: space-between;

}