form{
  .custom-form__row{
    margin-bottom: 19px;
  }
  .custom-form__control{
    margin-top: 29px;
  }
  .input-container{
    width: 100%;
    border-radius: 4px;
    border: solid 1px #e3e7ee;
    padding: 19px;
    line-height: 1;
    font-size: 17px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-top: 20px;
    .label , input{
      line-height: 1;
    }
    .label{
      opacity: 0.12;
      font-size: 24px;
      width: 10%;
    }
    input{
      height: 100%;
      outline: none;
      border:none;
      width: 90%;
      font-weight: 300;
      font-family: Muli;

    }
  }

  .custom-form__hint{
    margin-top: 29px;
    & > a{
      font-size: 17px;
      letter-spacing: 0.5px;
      font-weight: 300;
      color: #40464f;
    }
    & > a:hover{
      text-decoration: none;
    }
  }
}

