@media (max-width: 768px) {
  .product{
    h1{
      font-size: 28px;
      width: 100%;
    }
    .text-container{
      margin-bottom: 30px;
      p{
        width: 100%;
      }
    }
    .preview{
      img{
        height: 100%;
        width: 100%;
      }
    }
    .previews-small{
      display: none;
    }
  }
  input{
    padding-left: 10px;
  }

  .forgot-password{
    width: 90%;

    .input-container{
      width: 60%;
    }
  }
  .cart{
    width: 300px;
  }
  .addition{
    width: 80%;
  }
  .dataList--grid{

    .item-title, .subtitle{
      padding-left: 20%;
    }
  }

}

@media (max-width: 1195px) {
  .dataList--grid{
    ul{
      margin-right: 0;

    }
  }
  .inverse{
    button{
      padding: 10px 40px;
    }
    span::before, span::after{
      display: none;
    }
  }

}
@media (max-width: 992px){
  .addition{
    width: 60%;
  }
  .dataList--list{
    .item-title{
      padding-left: 10px;
      font-size: 24px;
      line-height: 100%;
    }
  }
}
@media (max-width: 560px) {
  header{
    display: table;
    width: 100%;
    .logo{
      position: static;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
  }
  .login, .forgot-password{
    margin-top: 100px;
    width: 100%;
    padding: 30px;
  }

  .addition{
    width: 100%;
    padding: 15px;
  }
  .category-list{
    width: 100%;
    overflow-x: auto;
  }
  .logo{
    padding-left: 10px;
  }
  header{
    .basket{
      padding-left: 5px;
      &:after{
        left: 15px
      }
    }
    .dropdown{
      padding-right: 20px;

      .dropdown__header{
        width: 120px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        &::before{
          right: 5px;
          top: 22px
        }
      }
      .dropdown__body{
        li{
          padding: 10px 15px;
        }
      }
    }
  }
  .remove-modal{
    padding: 15px;
  }
}
@media (max-width: 470px) {
  header{
  height: 80px;
    .header__height{
      min-height: 60px;
    }
    .dropdown{
      border: none;
    }
    img{
      width: 80px;
    }
  }
}
