.remove-modal{
  padding: 70px 75px;
  .custom-form__control{
    margin-top: 56px;
    display: flex;
    flex-direction: row;
  }
  h3{
    line-height: 1.58;

  }
  b{
    font-weight:600;
  }
}
.modal-dialog {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  @media(max-width: 768px) {
    min-height: calc(100vh - 20px);
  }
}